li {
  cursor: pointer;
}

li:hover {
  background: rgba(121, 121, 121, 0.52);
}

table {
  width: 100%;
}

.tabela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  box-shadow: none;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
