<p>
  <mat-toolbar>
    <span>Meu projeto Angular</span>
  </mat-toolbar>
</p>

<div class="content">
  <div class="box1">
    <h2>{{ title }}</h2>
    <h2>{{ title2 }}</h2>
    <h2>{{ a }}</h2>
    <h2>{{ b }}</h2>
    <h2>{{ a + b }}</h2>
  </div>
  <div class="box2">
    <app-heroes></app-heroes>
  </div>

  <!-- <button>Inserir Hero</button>
  <mat-slider
    min="1"
    max="100"
    step="1"
    [(ngModel)]="valor"
    (valueChange)="printValor(valor)"
  ></mat-slider>

  <h1>{{ valor }}</h1> -->
</div>
