li {
  cursor: pointer;
}

li:hover {
  background: rgba(121, 121, 121, 0.52);
}

table {
  width: 100rem;
  background: #fff;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.tabela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  box-shadow: none;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  background: whitesmoke;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.bottom {
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
  background: rgba(113, 113, 113, 0.425);
  border-radius: 0.7 rem;
}
